.titulo {
  font-family: FoundryMonoline-Blod;
  color: #7F7F7F;
  font-size: 30px;
}

.tituloTabla{
  font-family: FoundryMonoline-Blod;
  color: #FAA519;
  font-size: 24px;
}

.subtituloTabla{
  font-family: FoundryMonoline-Blod;
  color: #009DCA;
}

.celdaTitulo{
  font-family: FoundryMonoline-Medium;
  color: #7F7F7F;
}

.celdaTexto{
  font-family: FoundryMonoline-Light;
  color: #7F7F7F;
}

.imgLoading {
  width: 100%;
}