body {
    overflow-y: scroll;
}

/*FoundryMonoline*/
@font-face {
    font-family: "FoundryMonoline-UltraLight";
    src: url(../fonts/foundry/FoundryMonoline-UltraLight.otf);
}
@font-face {
    font-family: "FoundryMonoline-Light";
    src: url(../fonts/foundry/FoundryMonoline-Light.otf);
}
@font-face {
    font-family: "FoundryMonoline-Medium";
    src: url(../fonts/foundry/FoundryMonoline-Medium.otf);
}
@font-face {
    font-family: "FoundryMonoline-Blod";
    src: url(../fonts/foundry/FoundryMonoline-Bold.otf);
}
@font-face {
    font-family: "FoundryMonoline-RegItalic";
    src: url(../fonts/foundry/FoundryMonoline-RegItalic.otf);
}
/*Georgia*/
@font-face {
    font-family: "Georgia";
    src: url(../fonts/georgia/georgia.ttf);
}
@font-face {
    font-family: "Georgia-b";
    src: url(../fonts/georgia/georgiab.ttf);
}
@font-face {
    font-family: "Georgia-i";
    src: url(../fonts/georgia/georgiai.ttf);
}
@font-face {
    font-family: "Georgia-z";
    src: url(../fonts/georgia/georgiaz.ttf);
}

.errores,
.exitos,
.informaciones {
    margin-top: 20px;
    font-family: FoundryMonoline-Medium;
}ss
