<div class="row">
  <div class="col-md-12">
      <p class="titulo text-center">AUTNUM: {{AUTNUM}}</p>
  </div>
  <div class="col-md-6 offset-md-3" *ngIf="loading">
      <img class="imgLoading" src="assets/img/loading.gif" alt="loading...">
  </div>

  <div class="col-md-6" *ngIf="!loading && datosAutnum.length > 0">
      <p class="tituloTabla">{{ "RESULTADOSAUTNUM.TablaAutnum.Titulo" | translate }}</p>
      <table class="table">
          <tbody>
          <tr>
              <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaAutnum.Filas.Handle.Titulo" | translate }}</td>
              <td class="celdaTexto">{{ datosAutnum[0]}}</td>
          </tr>
          <tr>
              <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaAutnum.Filas.Type.Titulo" | translate }}</td>
              <td class="celdaTexto">{{ datosAutnum[1] }}</td>
          </tr>
          <tr>
              <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaAutnum.Filas.Registration.Titulo" | translate }}</td>
              <td class="celdaTexto">{{ datosAutnum[2] }}</td>
          </tr>
          <tr>
              <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaAutnum.Filas.LastChanged.Titulo" | translate }}</td>
              <td class="celdaTexto">{{ datosAutnum[3] }}</td>
          </tr>
          <tr>
            <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaAutnum.Filas.LegalRepresentative.Titulo" | translate }}</td>
            <td class="celdaTexto">{{ datosAutnum[4] }}</td>
        </tr>
          </tbody>
      </table>
      <p class="tituloTabla" *ngIf="!loading && datosNotices.length > 0" >{{ "RESULTADOSAUTNUM.TablaNotices.Titulo" | translate }}</p>
      <table class="table" *ngIf="!loading && datosNotices.length > 0">
        <tbody>
        <tr *ngFor="let notice of datosNotices">
            <td class="celdaTitulo">{{ notice.Title }}</td>
            <td class="celdaTexto" *ngIf="notice.Link != '#'">
                <a class="link" target="_blank" href="{{notice.Link}}">{{ notice.Desc }}</a>
            </td>
            <td class="celdaTexto" *ngIf="notice.Link == '#'">{{ notice.Desc }}</td>
        </tr>
        </tbody>
      </table>
      <p class="tituloTabla" *ngIf="!loading && datosRemarks.length > 0">{{ "RESULTADOSAUTNUM.TablaRemarks.Titulo" | translate }}</p>
      <table class="table"  *ngIf="!loading && datosRemarks.length > 0">
        <tbody>
        <tr *ngFor="let remark of datosRemarks">
            <td class="celdaTitulo">{{ remark.Title }}</td>            
            <td class="celdaTexto">{{ remark.Desc }}</td>
        </tr>
        </tbody>
      </table>
      <!-- Datos extra -->
      <span class="tituloTabla mr-lg-2">{{ "RESULTADOSIP.TablaExtra.Titulo" | translate }}</span>
      <a data-toggle="collapse" href="#collapseExtras" aria-expanded="false" aria-controls="collapseExtras">
          <span class="fa fa-plus"></span>
      </a>
      <div class="collapse" id="collapseExtras">
        <table class="table">
            <tbody>
                <tr *ngFor="let extra of datosExtra">
                    <td class="celdaTitulo">{{ extra.Title }}</td>            
                    <td class="celdaTexto">{{ extra.Desc }}</td>
                </tr>               
                <tr>
                    <td colspan="2" class="subtituloTabla">{{ "RESULTADOSIP.TablaExtra.SubTituloEventos" | translate }}</td>
                </tr>
                <tr *ngFor="let evento of datosEventos">
                    <td class="celdaTitulo">{{ evento.Title }}</td>            
                    <td class="celdaTexto">{{ evento.Desc }}</td>
                </tr> 
                <tr>
                    <td colspan="2" class="subtituloTabla">{{ "RESULTADOSIP.TablaExtra.SubTituloLinks" | translate }}</td>
                </tr>
                <tr *ngFor="let link of datosLinks">
                    <td class="celdaTitulo">{{ link.Title }}</td>
                    <td class="celdaTexto" *ngIf="link.Link != '#'">
                        <a class="link" target="_blank" href="{{link.Link}}">{{ link.Desc }}</a>
                    </td>
                    <td class="celdaTexto" *ngIf="link.Link == '#'">{{ link.Desc }}</td>
                </tr> 
            </tbody>
        </table>

      </div>
  </div>

  <div class="col-md-6" *ngIf="!loading && datosEntities.length > 0">
      <p class="tituloTabla">{{ "RESULTADOSAUTNUM.TablaContacts.Titulo" | translate }}</p>
      <table class="table" *ngFor="let entity of datosEntities">
          <tbody>
          <tr>
              <td colspan="2" class="subtituloTabla">{{ entity.Roles }}</td>
          </tr>
          <tr>
              <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaContacts.Filas.Handle.Titulo" | translate }}</td>
              <td class="celdaTexto">{{ entity.Handle }}</td>
          </tr>
          <tr>
              <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaContacts.Filas.Name.Titulo" | translate }}</td>
              <td class="celdaTexto">{{ entity.Name }}</td>
          </tr>
          <tr *ngIf="!loading && entity.MuestroAddress == '1'">
            <td class="celdaTitulo">{{ "RESULTADOSENTITY.TablaEntity.Filas.Country.Titulo" | translate }}</td>
            <td class="celdaTexto">{{ entity.Country }}</td>
          </tr>
          <tr *ngIf="!loading && entity.MuestroAddress == '1'">
            <td class="celdaTitulo">{{ "RESULTADOSENTITY.TablaEntity.Filas.City.Titulo" | translate }}</td>
            <td class="celdaTexto">{{ entity.City }}</td>
          </tr>
          <tr *ngIf="!loading && entity.MuestroAddress == '1'">
            <td class="celdaTitulo">{{ "RESULTADOSENTITY.TablaEntity.Filas.Address.Titulo" | translate }}</td>
            <td class="celdaTexto">{{ entity.Address }}</td>
          </tr>
          <tr *ngIf="!loading && entity.MuestroAddress == '1'">
            <td class="celdaTitulo">{{ "RESULTADOSENTITY.TablaEntity.Filas.PostalCode.Titulo" | translate }}</td>
            <td class="celdaTexto">{{ entity.PostalCode }}</td>
          </tr>
          <tr >
              <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaContacts.Filas.Telephone.Titulo" | translate }}</td>
              <td class="celdaTexto">{{ entity.TelType }} {{ entity.Telephone }}</td>
          </tr>
          <tr >
              <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaContacts.Filas.Email.Titulo" | translate }}</td>
              <td class="celdaTexto">{{ entity.Email }}</td>
          </tr>
          <tr >
            <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaContacts.Filas.Version.Titulo" | translate }}</td>
            <td class="celdaTexto">{{ entity.Version }}</td>
          </tr>
          <tr >
            <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaContacts.Filas.Registration.Titulo" | translate }}</td>
            <td class="celdaTexto">{{ entity.RegistrationDate }}</td>
          </tr>
          <tr >
            <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaContacts.Filas.LastChanged.Titulo" | translate }}</td>
            <td class="celdaTexto">{{ entity.LastChangedDate }}</td>
          </tr>

          <tr *ngIf="mostarDatosExta">
              <td class="celdaTitulo">{{ "RESULTADOSAUTNUM.TablaContacts.Filas.MoreInfo.Titulo" | translate }}</td>
              <td class="celdaTexto">
                  <a class="link" target="_blank" [href]="sanitize(entity.Info)">Click here..</a>
              </td>
          </tr>
          <tr>
              <td class="celdaTitulo">Source</td>
              <td class="celdaTexto">
                  <a class="link" target="_blank" href="{{entity.Link}}">Click here..</a>
              </td>
          </tr>
          </tbody>
      </table>
  </div>

  <div *ngIf="mensajes.Errores.length > 0" class="alert alert-danger col-md-8 offset-md-2 errores">
      <div *ngFor="let error of mensajes.Errores;">
          {{error.Description}}
      </div>
  </div>
  <div *ngIf="mensajes.Exitos.length > 0" class="alert alert-success  col-md-8 offset-md-2 exitos">
      <div *ngFor="let exito of mensajes.Exitos;">
          {{exito.Description}}
      </div>
  </div>
</div>
